#!/usr/bin/env bash

export DIRENV_WARN_TIMEOUT=20s
export PATH=target/release:bin:$PATH

# Enable shell completion for yx
source completions/yx.bash

# Help Claude's sandbox use heredocs
export TMPPREFIX="${TMPDIR:-/tmp}/zsh"

eval "$(devenv direnvrc)"

# `use devenv` supports the same options as the `devenv shell` command.
#
# To silence all output, use `--quiet`.
#
# Example usage: use devenv --quiet --impure --option services.postgres.enable:bool true
use devenv
